* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

body {
    background: rgb(138, 176, 138);
}

.header {
    height: 100px;
    background-color: rgba(151, 151, 151, 0.479);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-logo {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.495);
    cursor: pointer;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 100%;
}

.header-link {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgba(200, 200, 200, 0.594);
    width: 100px;
    text-align: center;
    transition: 300ms all ease;
}

.header-link:hover {
    transition: 300ms all ease;
    background-color: rgba(164, 161, 161, 0.966);
    width: max-content;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.header-btn {
    width: 15vw;
    height: 60px;
    border: none;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.477);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(90, 88, 88);
    transition: 300ms all ease;
}

.header-btn:hover {
    transition: 300ms all ease;
    background: rgba(255, 253, 253, 0.566);
    color: rgb(100, 99, 99);
}

.login-box {
    width: 50%;
    height: 500px;
    background: rgba(224, 224, 224, 0.205);
    border-radius: 30px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
}

#login {
    width: 70%;
    margin: 0 auto;
    height: 60px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.482);
}

#password {
    width: 70%;
    margin: 0 auto;
    height: 60px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.482);
}

#password.active,
#login.activ {
    display: none;
}

#find {
    width: 70%;
    margin: 0 auto;
    height: 60px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.482);
    margin-top: 30px;
    display: none;
}

#find.active {
    display: flex;
}


.login-btn {
    background-color: rgb(148, 219, 148);
    width: 60%;
    margin: 0 auto;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: rgb(91, 83, 83);
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    transition: 300ms all ease;
}

.login-btn:hover {
    transition: 300ms all ease;
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 1px black;
}




@media screen and (max-width:759px) {
    .header-list {
        display: none;
    }

    .login-box {
        width: 70%;
    }

    .header-btn {
        width: 25vw;
    }
}

#warning {
    background-color: rgb(253, 106, 106);
    width: 300px;
    height: 150px;
    border-radius: 20px;
    position: absolute;
    margin: 0 auto;
    left: 40%;
    top: 40%;
    display: none;
    font-weight: 500;
    font-size: 18px;
    color: rgb(66, 65, 65);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3px;
}



#warning.active {
    display: flex;
    animation-name: warAnim;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transition: 300ms all ease;
}

#login.none,
#password.none {
    border: 1.5px solid red;
}   

#login.disable,
#password.disable {
    display: none;
}

@keyframes warAnim {
    0% {
        transition: 300ms all ease;
        top: 100%;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s ease;
}